.page-footer {
  background-color: $background-dark;
}

.address__list {
  @extend %list;
}

.address__link {
  display: inline-block;
  @include font($normal, $primary-text-size, 1.71);
  font-style: normal;

  color: $transparent-white;
  @extend %link;

  transition: color $cubic;

  &:hover,
  &:focus {
    color: $accent-color;
  }
  
  &:last-child(2n) {
    padding-bottom: 60px;
  }
}

.address__list {
  margin-top: 9px;
}
.address__item:last-child {
  margin-top: 9px;
}

.address__text {
  margin-top: 0;
  margin-bottom: 0;

  font-style: normal;
  color: $white-color;

  @include font($normal, $primary-text-size, 1.71);
}

.address__content {
  margin-top: 20px;
}

.page-footer__content {
  @include flexbox(baseline);
  padding-top: 60px;
  padding-bottom: 60px;
}

// Join
.join__title {
  @include font($bold, $primary-text-size, 1.14);
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0;
  color: $white-color;
}

.join__list {
  @include flexbox();
  @extend %list;
}

.join {
  margin-left: 70px;
}

.join__item + .join__item {
  margin-left: 10px;
}

.join__link {
  @include flexbox();
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
  color: $white-color;

  transition: color $cubic;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.join__icon {
  width: 20px;
  height: 20px;
  @extend %fill;
}

.subscribe {
  margin-left: 93px;
}
.subscribe__title {
  @include font($bold, $primary-text-size, 1.14);
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0;
  color: $white-color;
}
.subscribe__form {
  @include flexbox();
}

.subscribe__button {
  @include flexbox();
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
  min-width: 200px;
  margin-left: 12px;

  color: $white-color;
  background-color: $accent-color;
  @include font($bold, $secondary-text-size, 1.87, 0.06em);

  cursor: pointer;
}

.subscribe__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.subscribe__input {
  @include flexbox();
  width: 360px;
  height: 50px;
  margin-right: 10px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: transparent;
  color: $white-color;
}
