/* logo */
.contacts__link:hover,
.contacts__link:focus {
  color: $accent-color;
}

.logo {
  color: $accent-color;
  @extend %link;
  @include font($bold, 26px, 1.2, 0.03em, $logo-font);
}

.logo__header {
  color: $title-text-color;
}
.logo__footer {
  color: $white-color;
}
