.container {
  @extend %container;
}

/* page header */

.page-header {
  background-color: $white-color;
  border-bottom: 1px solid $header-border;
}

.page-header__container {
  @include flexbox();
}
.page-header__navigation {
  @include flexbox();
}

/* site nav */
.site-nav {
  @extend %list;
  @include flexbox();
  margin-left: 93px;
}

.site-nav__nav-item + .site-nav__nav-item {
  margin-left: 50px;
}

.site-nav__link--current {
  color: $accent-color;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $title-text-color;

  @include font($medium, $primary-text-size, 1.14, 0.02em);
  @extend %link;

  transition: color $cubic;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

//contacts
.contacts {
  @extend %list;
  @include flexbox();
  margin-left: auto;
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts-content {
  margin-left: auto;
}

.contacts__link {
  @include flexbox();
  color: $primary-text-color;

  @include font($medium, $primary-text-size, 1.14, 0.02em);
  @extend %link;

  transition: $cubic;
}
.contacts__icon {
  display: block;
  margin-right: 10px;
  background-size: contain;
  background-position: center;

  @extend %fill;
}

.contacts__link:hover,
.contacts__link:focus {
  color: $accent-color;
}
