.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
/* page header */

.page-header {
  background-color: $white-color;
  border-bottom: 1px solid $header-border;
}

.page-header__container {
  display: flex;
  align-items: center;
}
.page-header__navigation {
  display: flex;
  align-items: center;
}

/* site nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__nav-item + .site-nav__nav-item {
  margin-left: 50px;
}

.site-nav__link--current {
  color: $accent-color;
  position: relative;
}

.site-nav__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $title-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color $cubic;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: $accent-color;
}

//contacts
.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts-content {
  margin-left: auto;
}

.contacts__link {
  display: flex;
  align-items: center;

  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: $cubic;
}
.contacts__icon {
  display: block;
  margin-right: 10px;
  background-size: contain;
  background-position: center;

  fill: currentColor;
}

.contacts__link:hover,
.contacts__link:focus {
  color: $accent-color;
}
