.socials {
  @include flexbox();
  margin-top: 16px;

  @extend %list;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  @include flexbox();
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: $icon-color;

  transition: color $cubic, background-color $cubic;
}

.socials__icon {
  @extend %fill;
}

.socials__link:hover,
.socials__link:focus {
  background-color: $accent-color;
  color: $white-color;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
