.container {
  @extend %container;
}
.team {
  @extend %section;
  background-color: $background-grey;
}

.team__title {
  margin-top: 0;
  margin-bottom: 50px;

  color: $title-text-color;
  @include font($bold, $title-text-size, 1.16);

  text-align: center;
}

.team__list {
  @include flexbox();
  @extend %list;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  width: 270px;
  background-color: $background-color;
}
.team__item + .team__item {
  margin-left: 30px;
}

.team__content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.team__name {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;

  color: $title-text-color;
  @include font($medium, $secondary-text-size, 1.19);
}
.team__specialty {
  margin-top: 10px;
  margin-bottom: 0px;

  @include font($normal, $secondary-text-size, 1.19);
  text-align: center;
}
